################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dpm-1-tasks/dpm-1-tasks/task2.cs
